@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

body {
  @apply bg-gray-950 text-gray-50 min-h-screen;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
  @apply flex;
}

h2 {
  @apply text-3xl mb-5;
}
