@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@theme {
  --font-sans: "Pretendard GOV Variable";
}

body {
  @apply bg-gray-950 text-gray-50 min-h-screen;
}

#main {
  @apply flex;
}

h2 {
  @apply text-3xl mb-5;
}
